{% extends 'layout.njk' %}

{% block content %}

<div class="container">
    <div class="media">
        <div class="media-left">
            <img src="image/avatar.svg" width="100px">
        </div>
        <div class="media-body">
            <br>
            <h4 class="media-heading" style="color: darkslateblue">Title: {{book.getTitle()}}<small>&nbsp;<i>Posted on February 19, 2016</i></small></h4>
            <p style="color: lightcoral">Author: {{book.getAuthor()}}</p>
            <p>
                <small>
                    Publisher: {{book.getPublisher().getName()}}
                    <br>
                    <a href="/edit/{{book.getId()}}">Edit</a> &nbsp;
                    <a href="/delete">DELETE</a>
                </small>
            </p>
        </div>
    </div>
</div>

{% endblock %}
